.swiper {
  margin-top: 1rem;
}
.swiper-button-prev::after,
.swiper-button-next:after {
  color: var(--color-white);
  background-color: var(--color-primary);
  padding: 0.5rem;
  border-radius: 30%;
  font-weight: 700;
  font-size: 2rem;
}
