.CardCarousel {
  margin: 1rem;
}
.carousel {
  text-align: left;
}
.cards {
  display: grid;
  grid-template-columns: repeat(6, 14%);
  grid-row-gap: 2rem;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.toggle {
  color: var(--color-primary);
  font-weight: 600;
  cursor: pointer;
}
.header {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 786px) {
  .cards {
    grid-template-columns: repeat(2, 50%);
  }
}
