.heroSection {
  height: 250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1vh;
}
.container {
  display: flex;
  width: 50vw;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: nowrap;
}

.heroText {
  font-size: 1.2rem;
  text-wrap: nowrap;
  text-align: center;
}

.heroImage img {
  object-fit: contain;
}

@media (max-width: 786px) {
  .heroSection {
    height: 150px;
    width: 100%;
  }
  .container {
    width: 100%;
    gap: 0.5rem;
    margin: 1rem;
  }
  .heroText h1 {
    font-size: 1rem;
    text-align: center;
    text-wrap: wrap;
  }
  .heroImage img {
    width: 100px;
    height: 100px;
  }
}
