.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  position: sticky;
  background-color: var(--color-primary);
  width: 100%;
}
@media (max-width: 786px) {
  .navbar {
    height: 10vh;
  }
}
